<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#"></a></li>
            <li><a href="{{ site.baseurl }}/contact">联系我们</a></li>
            <li><a href="#">动态</a></li>
            <li><a href="{{ site.baseurl }}/blog">博客</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
         <div class="col-md-6 col-sm-6 padding-top-10">
                  &copy; 2016 校园VC<br>
 <a href="javascript:;">隐私条款</a> | <a href="javascript:;">服务协议</a><br>
    </div>
  </div>
</footer>
